Repository scverse/anndata, pull requests merged in 2023-01, with the labels that each got.

#734 Improve interpretability of IOSpec errors
  anndata/_core/merge.py
  anndata/_io/specs/registry.py
  anndata/_io/utils.py
  anndata/tests/test_io_elementwise.py
  anndata/tests/test_io_utils.py
  anndata/tests/test_readwrite.py
  docs/release-notes/0.9.0.rst
Labels: enhancement, topic: io

#882 Formalize spec
  docs/conf.py
  docs/fileformat-prose.md
  docs/fileformat-prose.rst
  pyproject.toml
Labels: docs, topic: io

#889 Update release notes
  docs/release-notes/0.9.0.rst
Labels: docs
